*{  
  margin:0;
  padding:0;
  list-style: none;
}
body{
  background-color: #1d1f1e;
  background-image: url(./coffee-cup-svgrepo-com.svg);
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  color: #d4af37;
}
header{
  text-align: center; 
  background-color: #323232;
  width: 400px;
  align: center;
  padding: 6px;
  margin: auto;
  margin-bottom: 20px;
}  
header h1{
  margin-bottom: 2px;
  text-transform: uppercase
}
header h1 span{
  Color: #49251f
}
section, h2{
  width:400px;
  margin: auto;
  
}
ul li{
  display: flex;
  border: 1px solid #323232
}
section h2{
  background-color: #323232;
  margin-bottom: 5px;
  
}
ul{
  margin-bottom: 5px
}
ul li {
  padding:4px
}
